.container {
  background-image: url("../public/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.courses {
  background-color: #3187f0;
  background-image: linear-gradient(315deg, #2e23f8 0%, #647dee 74%);
  min-height: 100vh;
}
.about {
  color: white;
  padding: 10%;
}
.cards {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  padding: 6% 5%;
  margin: auto;
  flex-wrap: wrap;
}
.courseData {
  padding: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.description {
  font-size: 20px;
  color: white;
}
.price {
  font-size: 2rem;
}
.courseunlocked {
  display: flex;
  flex-direction: row;
  padding: 2% 5%;
}
.leftcourse {
  flex: 2.5;
}
.rightcourse {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
